In [4]:
from werkzeug.security import generate_password_hash, check_password_hash

In [7]:
hash = "sha256$LbUE7S3pkypJXIdB$0a8a677fe64c36299f6e6180b7a148a53094918262bb483e94d0db260592188e" #generate_password_hash('foobar')
check_password_hash(hash, 'vq')
generate_password_hash("jjjj")

'pbkdf2:sha256:260000$3Z8bpGEyXMeVqdbF$426c4bf83d8675f0d5990c026bf6a69966ae50163c2d2f2e15f29d8d27f40cb2'

In [2]:
import os
print("sqlite:///" + os.path.abspath("./app/database/db2.sqlite"))

sqlite:////home/valigatotus/Documents/VUB/INDI/BA3/Database-Driven-Website/app/database/db2.sqlite

In [26]:
import pandas as pd
with open("app/database/rows/Course2.csv", 'r') as file:
    df = pd.read_csv(file)

In [27]:
df

   id                 name   semester
0   1  Database Management          1
1   2             Networks          1
2   3    Practicum ELO-ICT          1
3   4  Business Management          1
4   5    Smart-ICT systems          2

In [47]:
import sqlalchemy
eng = sqlalchemy.create_engine("sqlite:///" + os.path.abspath("./app/database/db3.sqlite"))

In [50]:
def FillTable(engine, path:str, table:str, sep=','):
    with open(path, 'r') as file:
        rows = [r.split(sep) for r in [r for r in file.read().split('\n')]] 
        # q = "INSERT INTO " + table + " VALUES(" + (len(rows[0])-1)*"?," + " ?);"
        # for row in rows:
        #     engine.execute()
        queries = []
        for row in rows:
            engine.execute("INSERT INTO " + table + " VALUES(" + ",".join(row) + ");")

In [54]:
from app.database import database as DB

mydb = DB.db("./app/database/db3.sqlite")
mydb.Init("./app/database/init_db2.txt")

In [8]:
lines = []

In [25]:

fill_table("app/database/rows/User2.csv", 1)[0:5]

[{'id': '1',
  'fname': 'Valentin',
  'lname': 'Quevy',
  'email': 'vq@gmail.com',
  'password_hash': 'sha256$LbUE7S3pkypJXIdB$0a8a677fe64c36299f6e6180b7a148a53094918262bb483e94d0db260592188e'},
 {'id': '2',
  'fname': 'Kurt',
  'lname': 'Somers',
  'email': 'ks@gmail.com',
  'password_hash': 'sha256$g2pWmahTU8evT8Pi$559dad3bca0b54d476a3df6bd7b97c0239f644ac8f585944ee00f2a480cc2c45'},
 {'id': '3',
  'fname': 'Sarrah',
  'lname': 'Fihri',
  'email': 'sf@gmail.com',
  'password_hash': 'sha256$bADnytEJI9GBjiYA$46781459e0a6942e2b3d0fc9a80745dade55a8af1da0e9aa94ebb702de695ea4'},
 {'id': '4',
  'fname': 'Tom',
  'lname': 'Godden',
  'email': 'tg@gmail.com',
  'password_hash': 'sha256$Grfi0Tx8qladCdiM$f9966d6af6cf3a8678b2054b4f37e0ffa569d57610309ce1abea8c63a291552d'},
 {'id': '5',
  'fname': 'Jarne',
  'lname': 'Plas',
  'email': 'jp@gmail.com',
  'password_hash': 'sha256$jUq0OBVN8LvqEvsd$07a6c1d72ae53ad29f286ad5f07c3ef6fb459f0c2ada1eb7c989c17a642600c7'}]

In [3]:
from sqlalchemy.schema import CreateTable
from app.database.models import Class
#CreateTable(Class).compile()

KeyError: 'app'